In [1]:
import pandas as pd
import numpy as np
import sklearn
import nltk
import warnings
warnings.filterwarnings('ignore')

Data Source: https://berean.bible/downloads.htm

In [6]:
import os, sys
os.listdir()

['model.ipynb', '.git', 't_kjv.csv', 'README.md', '.ipynb_checkpoints']

In [7]:
data = pd.read_csv('t_kjv.csv')

In [8]:
data.head()

        id  b  c  v                                                  t
0  1001001  1  1  1  In the beginning God created the heaven and th...
1  1001002  1  1  2  And the earth was without form, and void; and ...
2  1001003  1  1  3  And God said, Let there be light: and there wa...
3  1001004  1  1  4  And God saw the light, that it was good: and G...
4  1001005  1  1  5  And God called the light Day, and the darkness...

In [9]:
data.shape

(31103, 5)

In [10]:
read_data = data[['t']]

In [11]:
read_data.head()

                                                   t
0  In the beginning God created the heaven and th...
1  And the earth was without form, and void; and ...
2  And God said, Let there be light: and there wa...
3  And God saw the light, that it was good: and G...
4  And God called the light Day, and the darkness...

In [12]:
import nltk

In [ ]:
def tokenize(data):
    return nltk.word_tokenize(data)
read_data['tokens'] = read_data['t'].apply(tokenize)